.pokedex {
  @include flex-container(column);
  gap: 64px;
  position: relative;

  .paginator {
    margin-left: auto;
  }

  .loader {
    position: absolute;
    top: 30%;
    left: calc(50% - 24px);
  }

  .hidden {
    opacity: 0;
  }

  .pokedex-list {
    div {
      @include flex-container;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 32px;
    }
  }
}
