.pokedex {
  @include flex-container(column);
  gap: 64px;

  .paginator {
    margin-left: auto;
  }

  .loader {
    position: absolute;
    right: 50%;
    top: 50%;
  }

  .hidden {
    opacity: 0;
  }
}
