.pokedex-list {
  @include flex-container;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

@media screen and (width<=578px) {
  .pokedex-list {
    .pokemon-card img {
      max-height: 180px;
    }
  }
}
