.pokedex {
  @include flex-container(column);
  gap: 64px;

  .paginator {
    margin-left: auto;
    transition: opacity ease 2s;

    &.hidden {
      opacity: 0;
    }
  }

  .loader {
    position: absolute;
    right: 50%;
    top: 50%;
  }
}
