$pokemon-card-width: 238px;
$pokemon-card-height: 147px;

.pokemon-img {
  position: relative;

  img {
    height: 78px;
  }

  &.shadow::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 78px;
    height: 32px;
    bottom: -5px;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    mix-blend-mode: normal;
    border-radius: 100%;
    filter: blur(8px);
  }
}

.pokemon-card {
  width: 238px;
  height: 147px;
  padding: 16px;
  @include card-style();
  @include flex-container(column);
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  user-select: none;
  cursor: pointer;

  .pokemon-img {
    position: absolute;
    bottom: 5px;
    right: 13px;
    z-index: 2;
  }

  .inner-bg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .types {
    @include flex-container();
    justify-content: space-between;

    .type-names {
      @include flex-container();
      gap: 4px;
    }

    svg {
      width: 22px;
      height: 22px;
    }
  }

  .characteristics {
    @include flex-container(column);
    gap: 12px;

    p {
      font-size: 12px;
      color: var(--text-secondary);
      font-weight: 500;
    }
    h2 {
      font-size: 16px;
      color: var(--text-primary);
      font-weight: 600;
    }
  }

  &:hover {
    .inner-bg .type-circle,
    .inner-bg .type-circle-mask {
      width: calc(100% * 1.1);
      height: calc(100% * 1.3);
      border-radius: 0;
    }
  }
}
