.pokedex {
  @include flex-container(column);
  gap: 64px;
  max-width: 1295px;
  margin: 0 auto;
  padding: 24px;

  .page {
    @include flex-container(column);
    gap: 64px;
  }

  .paginator {
    margin-left: auto;
  }

  h2 {
    font-size: 32px;
    color: var(--text-primary);
    font-weight: 600;
  }

  .pokedex-list {
    @include flex-container;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;

    .pokemon-card {
      flex: 1 1 $pokemon-card-width;
    }
  }
}

@media screen and (width<=578px) {
  .pokedex-list {
    img {
      max-height: 180px;
    }
  }
}
