@import "HomeView-lg";
@import "HomeView-md";
@import "HomeView-sm";
@import "HomeView-xs";

@keyframes floatingAnimation {
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes increaseShadowAnimation {
  50% {
    transform: translateX(-50%) scaleX(0.6);
  }
  100% {
    transform: translateX(-50%) scaleX(1);
  }
}
